*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #333;
  padding: 3rem;
  font-size: 1.6rem;
}

.container {
  display: flex;
}

.box-1 {
  background-color: lightblue;
}

.box-2 {
  background-color: lightpink;
}

.wrapper {
  margin-top: 3rem;
  display: flex;
}

.box-3 {
  background-color: lightblue;
  width: 10rem;
}

.box-4 {
  background-color: lightpink;
  flex: 1;
}

.flex-container {
  margin-top: 3rem;
  height: 7rem;
  border: 1px solid gray;

  display: flex;
}

.box-5 {
  background-color: lightblue;
  width: 10rem;
}

.box-6 {
  background-color: lightpink;
  width: 10rem;
}

.box-7 {
  background-color: lightblue;
  width: 10rem;
}
