@media only screen and (max-width: 75em) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 5.5rem;
    background-color: #fff;
    width: 7.2rem;
    z-index: 200;
    padding-top: 0.5rem;
  }

  .sidebar-link {
    height: 7.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }

  .sidebar-link:hover {
    background-color: rgb(235, 235, 235);
  }

  .sidebar-link img {
    height: 2.4rem;
    margin-bottom: 0.4rem;
  }

  .sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 75em) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 5.5rem;
    background-color: #fff;
    width: 24rem;
    z-index: 200;
    padding-top: 1.3rem;
  }

  .sidebar-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.8rem 2.4rem;
  }

  .sidebar-link:hover {
    background-color: rgb(235, 235, 235);
  }

  .sidebar-link img {
    height: 2.4rem;
    margin-right: 2.4rem;
  }

  .sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 1.4rem;
  }
}
