*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial;
  line-height: 1.6;
  color: #333;
  padding-top: 8rem;
  padding-left: 9.6rem;
  padding-right: 2.4rem;
  background-color: rgb(248, 248, 248);
}
