*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #333;
  padding: 3rem;
  font-size: 1.6rem;
}

.container {
  height: 5rem;
  border: 1px solid gray;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-1 {
  background-color: lightpink;
}

.box-2 {
  background-color: lightpink;
}
