.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container,
.current-user-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip,
.current-user-picture-container .tooltip {
  font-family: Roboto, Arial;
  position: absolute;
  background-color: gray;
  color: #fff;
  padding: 0.4rem 0.8rem;
  border-radius: 2px;
  font-size: 1.2rem;
  bottom: -3rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip,
.current-user-picture-container:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
